@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    background-color: #d3ace7;
}

* {
    font-family: 'Libre Baskerville', serif;
}

.title-Main {
    margin-top: 75px;
    font-size: 50px;
    color: #f3c334;
    display: flex;
    justify-content: center;
    text-shadow: #b35c04 5px 5px 1px;
}

#text {
    margin-top: 50px;
    margin-bottom: 25px;
    border-top: 5px solid #815c8a;
    border-bottom: 5px solid #815c8a;
    font-size: 24px;
    width: 100%;
    height: 200px;
    color: #7c4c7f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.replaceAbleText {
    position: relative;
    font-family: 'Roboto', sans-serif;
    animation: textup 1s ease-in-out;
}

@keyframes textup {
    from {
    opacity: 0;
    top: -1000px;
    }

    to {
    opacity: 1;
    top: 0;
    }
}

#youWonText {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textColorChanger 6s ease-in-out infinite;
}

#buttonContainer {
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


button {
    font-size: 16px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    /* border-right: 10px solid grey;
    border-bottom: 5px solid grey; */
    border: none;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    color: #d3ace7;
    background-color: #9b45bb;
    position: relative;
    transition: 0.3s ease 0s;
    animation: button-fade-in 1s ease-in-out;
}

@keyframes button-fade-in {
    from {
    opacity: 0;
    right: 1000px;
    }
    to {
    opacity: 1;
    right: 0;
    }
}

button:hover {
    background: #6C2387;
    color: #d8b7d7;
    width: 350px;
    margin-left: 0px;
    margin-right: 0px;
}

.theEndingButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#theEnd {
    background-color: blue;
    border: none;
    animation: pulse 6s ease-in-out infinite;
    color: white;    
}

@keyframes pulse {
    15% {
        background: red;
        transform: rotate(720deg);
    }
    30% {
        background: yellow;
    }
    45% {
        background: orange;
    }
    60% {
        background: green;
    }
    75% {
        background: blue;
    }
    90% {
        background: indigo;
    }
    100% {
        background: violet;
        transform: rotate(-720deg);
    }
}


hr {
    width: 200px;
    border-radius: 34px;
    border: solid #7c4c7f;
}

.hr-bottom {
    margin-top: 100px;
}

/* @keyframes pulse {
    0% {
        opacity: 0.5;
        transform: scale(1.1);
        background: white;
    }
    50% {
      opacity: 0.7;
      transform: scale(1.3);
    }
    100% {
      opacity: 0;
    }
  } */

  @keyframes textColorChanger {
    0% {
        color: red;
    }
    15% {
        color: yellow;
    }
    30% {
        color: orange;
    }
    45% {
        color: green;
    }
    60% {
        color: blue;
    }
    75% {
        color: indigo;
    }
    90% {
        color: violet;
    }
    100% {
        color: red;
    }
}

@media screen and (max-width: 450px) {
    .title-Main {
        margin-top: 75px;
        font-size: 25px;
    }
    
    #text {
        margin-top: 50px;
        margin-bottom: 25px;
        border: 5px solid #CF4647;
        font-size: 12px;
    }
    
    #buttonContainer {
        margin-top: 100px;
        flex-direction: column;
    }
    
    button {
        font-size: 16px;
        width: 300px;
        height: 50px;
    }
  }